In [1]:
%pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in /Users/mu/Library/Python/3.9/lib/python/site-packages (2.0.1)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
from pathlib import Path
import math

import pandas as pd
import numpy as np

import seaborn as sns

In [3]:
inputDir = Path("../data")
inputFile = Path("2022ncdb.xls")
inputPath = inputDir / inputFile
print(inputPath)

df = pd.read_excel(inputPath)

../data/2022ncdb.xls

In [4]:
print(df.shape)
# print(df.head)
print(df.columns)

(929, 89)
Index(['C_NREC', 'C_REP', 'C_PROV', 'C_POLC', 'C_CASE', 'C_SCATT', 'C_YEAR',
       'C_MNTH', 'C_MDAY', 'C_WDAY', 'C_HOUR', 'C_SEV', 'C_DEAD', 'C_INJ',
       'C_VEHS', 'C_CONF', 'C_HRUN', 'C_RCFG', 'C_WTHR', 'C_LITE', 'C_ALITE',
       'C_RCL1', 'C_RCL2', 'C_RCL3', 'C_RMTL', 'C_RSUR', 'C_RCON', 'C_RALN',
       'C_TRAF', 'C_SPED', 'C_PRIOR', 'V_REP', 'V_ID', 'V_NOCC', 'V_DIR',
       'V_LICJ', 'V_VIN', 'V_YEAR', 'V_TYPE', 'V_USE', 'V_EMER', 'V_TRLR',
       'V_LITE', 'V_SPED', 'V_MNVR', 'V_DSEV', 'V_IMPL', 'V_EVT1', 'V_EVT2',
       'V_EVT3', 'V_CF1', 'V_CF2', 'V_CF3', 'V_CF4', 'V_PRIOR', 'V_DANG',
       'V_LDST', 'P_ID', 'P_SEX', 'P_AGE', 'P_LCLS', 'P_YLIC', 'P_LICS',
       'P_DLIC', 'P_DBAC', 'P_PSN', 'P_EJCT', 'P_EJCLC', 'P_ISEV', 'P_SAFE',
       'P_PUSE', 'P_ABAG', 'P_PACT', 'P_RCLS', 'C_HWY', 'C_KM', 'C_LTYP',
       'C_COMM', 'C_STRT1', 'C_KM2', 'C_HWY2', 'C_STRT2', 'C_DIST', 'C_UNITS',
       'C_DIR', 'C_REF', 'C_SPEC', 'C_ALC', 'C_ORV'],
      dtype='object')

In [5]:
# Hacky sol to get some quick counts
def checkCounts(df):
    # counter over the diff things, but dont need to do a full loop (not very df like)
    cnt = dict()

    for column in df.columns:
        cnt[column] = df[column].value_counts()
    

    return cnt

In [6]:
counts = checkCounts(df)

for col, counts in counts.items():
    print(col)
    print(counts, end= "\n\n")

C_NREC
C_NREC
1.0      1
624.0    1
612.0    1
613.0    1
614.0    1
        ..
314.0    1
315.0    1
316.0    1
317.0    1
928.0    1
Name: count, Length: 928, dtype: int64

C_REP
C_REP
x    427
Name: count, dtype: int64

C_PROV
C_PROV
11.0    928
Name: count, dtype: int64

C_POLC
C_POLC
NT100-32    558
NT100-23    124
NT100-24     64
NT100-13     50
NT100-30     30
NT100-20     24
NT100-28     16
NT100-19     14
NT100-31     12
NT100-22      7
NT100-15      6
NT100-02      6
NT100-26      5
NT100-03      5
NT100-25      5
NT100-18      1
NT100-39      1
Name: count, dtype: int64

C_CASE
C_CASE
2022-1075616    7
2022-1220743    6
2022-91162      6
2022-597729     6
2022-22664      5
               ..
2022-1338878    1
2022-589709     1
2022-1342419    1
2022-1326858    1
2022-423402     1
Name: count, Length: 427, dtype: int64

C_SCATT
C_SCATT
2.0    573
1.0    355
Name: count, dtype: int64

C_YEAR
C_YEAR
2022.0    928
Name: count, dtype: int64

C_MNTH
C_MNTH
1.0     108
12.0    102
2.0      87
8.0      83
11.0     82
7.0      81
3.0      76
10.0     76
5.0      71
6.0      63
4.0      57
9.0      42
Name: count, dtype: int64

C_MDAY
C_MDAY
22    47
11    46
21    41
9     40
24    38
3     37
18    37
20    37
28    35
25    34
27    34
5     33
6     33
8     33
26    32
19    31
15    28
16    27
2     25
29    25
30    25
10    25
7     25
23    24
4     24
1     22
17    19
12    17
14    16
UU    15
31    14
13     9
Name: count, dtype: int64

C_WDAY
C_WDAY
4    171
6    145
1    142
5    132
2    122
3    113
7     88
U     15
Name: count, dtype: int64

C_HOUR
C_HOUR
UU    159
14     83
13     65
12     61
15     57
16     56
17     56
10     51
8      43
11     37
18     36
19     33
21     25
9      24
7      23
0      21
2      19
20     19
22     16
23     14
6       8
4       7
3       6
1       5
5       4
Name: count, dtype: int64

C_SEV
C_SEV
3.0    786
2.0    138
1.0      4
Name: count, dtype: int64

C_DEAD
C_DEAD
0.0    924
1.0      4
Name: count, dtype: int64

C_INJ
C_INJ
0.0    790
1.0    101
2.0     31
3.0      6
Name: count, dtype: int64

C_VEHS
C_VEHS
2.0    746
1.0    152
3.0     24
4.0      6
Name: count, dtype: int64

C_CONF
C_CONF
41    405
21    106
35    103
22     42
4      36
32     27
2      25
36     25
33     25
4r     21
3r     17
1p     17
1b     14
24     13
3      12
34     12
23      9
25      5
1a      4
6       4
31      4
5       2
Name: count, dtype: int64

C_HRUN
C_HRUN
2.0    725
1.0    203
Name: count, dtype: int64

C_RCFG
C_RCFG
1     420
2     202
3     157
QQ    134
UU      9
5       6
Name: count, dtype: int64

C_WTHR
C_WTHR
1    578
2    114
4    102
U     93
3     22
6      8
7      6
5      5
Name: count, dtype: int64

C_LITE
C_LITE
1    582
5    189
U     70
3     54
2     33
Name: count, dtype: int64

C_ALITE
C_ALITE
3    476
2    216
1    166
U     70
Name: count, dtype: int64

C_RCL1
C_RCL1
1.0    790
2.0    138
Name: count, dtype: int64

C_RCL2
C_RCL2
4    324
2    258
Q    252
3     85
U      9
Name: count, dtype: int64

C_RCL3
C_RCL3
3    535
Q    250
4     66
6     56
U      9
1      7
5      5
Name: count, dtype: int64

C_RMTL
C_RMTL
1    637
3    155
5    105
9     18
U      9
2      4
Name: count, dtype: int64

C_RSUR
C_RSUR
1    337
3    273
5    201
2     41
U     28
4     28
6     16
7      4
Name: count, dtype: int64

C_RCON
C_RCON
1    684
2     74
4     58
U     53
5     30
6     25
3      2
Q      2
Name: count, dtype: int64

C_RALN
C_RALN
1    747
3     64
2     43
4     41
5     12
6     11
U     10
Name: count, dtype: int64

C_TRAF
C_TRAF
18    683
1     111
3      75
10     36
4       9
UU      9
6       2
5       2
2       1
Name: count, dtype: int64

C_SPED
C_SPED
1    409
3    363
7     65
5     25
8     24
4     18
2     14
U      9
6      1
Name: count, dtype: int64

C_PRIOR
C_PRIOR
29    222
UU    139
30    131
24     94
25     84
23     82
22     57
3      52
21     16
51     16
26     14
52      7
4       4
48      4
27      4
QQ      2
Name: count, dtype: int64

V_REP
V_REP
x    765
Name: count, dtype: int64

V_ID
V_ID
1.0     546
2.0     363
99.0      9
3.0       9
4.0       1
Name: count, dtype: int64

V_NOCC
V_NOCC
1     497
2     180
NN    162
3      42
4      36
6       6
5       5
Name: count, dtype: int64

V_DIR
V_DIR
9    197
U    172
1    150
5    143
7     98
3     82
2     26
8     18
4     17
6     16
N      9
Name: count, dtype: int64

V_LICJ
V_LICJ
11    766
UU     79
9      39
17     10
NN      9
10      8
12      7
4       4
16      2
6       1
18      1
7       1
5       1
Name: count, dtype: int64

V_VIN
V_VIN
XXXXXXXXXXXXXXXXX    928
Name: count, dtype: int64

V_YEAR
V_YEAR
2019    92
UUUU    91
2021    68
2018    68
2017    60
2016    50
2020    50
2022    46
2014    44
2015    37
2009    37
2012    32
2011    31
2013    28
2010    25
2008    23
2002    20
2007    20
2004    14
2005    14
2000    12
2006    10
2003    10
NNNN     9
2001     8
1997     6
2023     5
1995     3
1998     3
1991     2
1999     2
1992     2
1994     1
1989     1
1988     1
1990     1
1996     1
1987     1
Name: count, dtype: int64

V_TYPE
V_TYPE
4     349
3     197
1     192
UU     63
2      42
8      15
18     10
7      10
NN      9
5       8
11      6
14      6
17      4
6       4
22      4
20      4
9       2
12      2
16      1
Name: count, dtype: int64

V_USE
V_USE
99    756
UU     68
1      32
10     23
12     14
3      10
NN      9
11      7
5       5
9       2
2       1
8       1
Name: count, dtype: int64

V_EMER
V_EMER
N    853
U     68
2      5
n      1
1      1
Name: count, dtype: int64

V_TRLR
V_TRLR
N    841
U     66
4     11
2      3
6      2
1      2
n      1
5      1
8      1
Name: count, dtype: int64

V_LITE
V_LITE
U    433
2    191
1    164
3    130
N      9
4      1
Name: count, dtype: int64

V_SPED
V_SPED
UU    460
NN    206
1      84
3      41
0      39
4      25
2      19
8      13
7      12
9      10
10      7
5       4
6       4
11      4
Name: count, dtype: int64

V_MNVR
V_MNVR
1     300
13    192
7     129
UU     61
10     53
9      48
2      44
3      39
5      17
NN      9
12      9
15      8
14      5
8       5
4       5
16      2
6       1
11      1
Name: count, dtype: int64

V_DSEV
V_DSEV
3    315
2    250
U    158
4    117
1     57
5     22
N      9
Name: count, dtype: int64

V_IMPL
V_IMPL
1     223
3     174
UU    119
11     58
4      55
5      53
6      45
13     45
12     28
7      19
99     17
16     16
2      12
9      12
NN      9
14      9
8       8
20      7
17      6
10      5
15      4
18      2
19      2
Name: count, dtype: int64

V_EVT1
V_EVT1
11    530
21    197
1      81
2      56
16     12
12     11
NN      9
23      6
4       5
3       4
13      4
14      4
30      4
33      1
7       1
22      1
25      1
28      1
Name: count, dtype: int64

V_EVT2
V_EVT2
NN    695
UU     62
11     32
2      32
24     29
21     21
3      16
1       8
23      7
30      5
28      5
29      5
25      3
26      2
8       2
16      2
31      1
39      1
Name: count, dtype: int64

V_EVT3
V_EVT3
NN    800
UU     63
24     26
3      20
27      9
25      5
28      1
8       1
39      1
33      1
2       1
Name: count, dtype: int64

V_CF1
V_CF1
NN    648
UU    193
3      43
2      31
1       6
5       5
4       2
Name: count, dtype: int64

V_CF2
V_CF2
NN    367
30    125
29    118
UU    105
23     57
24     56
25     43
22     32
21     11
26      8
27      5
QQ      1
Name: count, dtype: int64

V_CF3
V_CF3
NN    701
UU    205
47      7
48      5
44      3
46      2
45      2
41      2
42      1
Name: count, dtype: int64

V_CF4
V_CF4
NN    553
52    191
UU    119
51     30
54     20
55     15
Name: count, dtype: int64

V_PRIOR
V_PRIOR
2    919
N      9
Name: count, dtype: int64

V_DANG
V_DANG
N    856
U     71
3      1
Name: count, dtype: int64

V_LDST
V_LDST
N    840
U     71
1     14
2      3
Name: count, dtype: int64

P_ID
P_ID
1     621
NN    153
2     115
3      25
4      11
5       2
6       1
Name: count, dtype: int64

P_SEX
P_SEX
M    407
F    276
N    153
U     92
Name: count, dtype: int64

P_AGE
P_AGE
NN    153
UU    104
62     25
16     18
32     18
     ...
83      1
12      1
86      1
79      1
85      1
Name: count, Length: 85, dtype: int64

P_LCLS
P_LCLS
5     356
NN    333
UU     89
1      40
4      37
5P     26
3      12
56     12
7      10
16      8
2       5
Name: count, dtype: int64

P_YLIC
P_YLIC
UU    545
NN    333
90     10
5       5
1       4
2       4
8       3
30      2
40      2
43      2
26      2
47      1
16      1
46      1
50      1
7       1
44      1
60      1
34      1
3       1
37      1
38      1
48      1
53      1
20      1
42      1
9       1
Name: count, dtype: int64

P_LICS
P_LICS
1    498
N    323
U     87
3     10
4      6
5      4
Name: count, dtype: int64

P_DLIC
P_DLIC
11    465
NN    317
UU     87
9      18
15     16
10      9
6       4
3       3
1       2
8       2
14      2
5       2
12      1
Name: count, dtype: int64

P_DBAC
P_DBAC
998    419
UUU    170
999    155
NNN    153
620     12
610      6
0        4
100      2
150      1
140      1
160      1
110      1
240      1
230      1
180      1
Name: count, dtype: int64

P_PSN
P_PSN
11    611
NN    153
13    101
96     24
21     15
23     13
99      9
22      1
98      1
Name: count, dtype: int64

P_EJCT
P_EJCT
1    677
N    179
U     71
3      1
Name: count, dtype: int64

P_EJCLC
P_EJCLC
N    856
U     71
Q      1
Name: count, dtype: int64

P_ISEV
P_ISEV
1    691
N    153
2     43
3     22
4     11
7      7
5      1
Name: count, dtype: int64

P_SAFE
P_SAFE
4     414
UU    309
NN    153
1      33
9       7
13      6
8       2
6       2
12      1
5       1
Name: count, dtype: int64

P_PUSE
P_PUSE
1    403
U    331
N    186
3      6
2      2
Name: count, dtype: int64

P_ABAG
P_ABAG
2    492
N    179
U    166
3     79
1     12
Name: count, dtype: int64

P_PACT
P_PACT
NN    919
1       3
5       1
15      1
12      1
11      1
8       1
UU      1
Name: count, dtype: int64

P_RCLS
P_RCLS
MV Driver       594
MV Passenger    155
Dummy           153
Pedestrian        9
MC Driver         6
EQ Driver         4
Cyclist           4
SM Driver         2
ATV Driver        1
Name: count, dtype: int64

C_HWY
C_HWY
3.0     36
1.0     26
5.0     17
2.0     15
10.0    13
8.0     11
7.0      6
4.0      6
9.0      2
Name: count, dtype: int64

C_KM
C_KM
10.0     6
722.4    5
100.0    4
129.0    4
270.0    4
        ..
140.0    1
657.0    1
38.0     1
409.8    1
71.0     1
Name: count, Length: 71, dtype: int64

C_LTYP
C_LTYP
C     768
H#    132
HW     11
R      10
HA      7
Name: count, dtype: int64

C_COMM
C_COMM
YELLOWKNIFE        562
HAY RIVER          108
INUVIK              63
RAE                 29
FORT SMITH          24
FORT SIMPSON        21
ENTERPRISE          14
EDZO                14
TUKTOYAKTUK         12
FORT PROVIDENCE     10
FORT MCPHERSON       8
KAKISA               8
WRIGLEY              8
TSIIGEHTCHIC         7
AKLAVIK              6
FORT GOOD HOPE       6
DELINE               6
NORMAN WELLS         5
TULITA               5
FORT LIARD           4
RAE LAKES            2
NAHANNI BUTTE        2
HOLMAN               1
LUTSEL K'E           1
COLVILLE LAKE        1
DETTAH               1
Name: count, dtype: int64

C_STRT1
C_STRT1
Franklin Avenue             83
Old Airport Road            45
49th Street                 25
48th Street                 21
Range Lake Road             14
                            ..
Mbehcho Maldi Tili           1
Inuvik Access Road           1
Mackenzie Drive              1
Peel River Ice Road          1
Russell Lake Access Road     1
Name: count, Length: 107, dtype: int64

C_KM2
C_KM2
0.0      4
269.3    1
83.8     1
Name: count, dtype: int64

C_HWY2
C_HWY2
5.0    2
8.0    1
6.0    1
1.0    1
Name: count, dtype: int64

C_STRT2
C_STRT2
Borden Drive                    14
Franklin Avenue                 12
Forrest Drive                   11
Old Airport Road                 9
Range Lake Road                  8
50th Street                      8
Matonabee Street                 8
Finlayson Drive                  7
Byrne Road                       7
Spruce Road                      6
53rd Street                      6
57th Street                      6
49th Street                      6
51st Street                      5
Gitzel Street                    5
51st Avenue                      5
Bonnet Plume Road                5
Williams Avenue                  4
Doornbos Lane                    3
Melville Drive                   3
Mackenzie Road                   3
Osprey Road                      3
Mackenzie Drive                  3
Ellesmere Drive                  2
Burwash Drive                    2
49th Avenue                      2
44th Street                      2
47th Street                      2
Taylor Road                      2
Borden Drive North               2
Alley Btw 52nd & 53rd Street     2
Navy Road                        2
Calder Avenue                    2
48th Street                      2
Alley Btw 51st & 52nd Street     2
Mcrorie Road                     2
Balsam Drive                     2
Wapiti Street                    2
Gagnier Road                     2
Dolphin Street                   2
54th Street                      2
Nahanni Road                     2
Riverview Drive                  2
King Street                      2
Tuktu Road                       1
Nahanni Butte Access Road        1
Marine Drive                     1
Igluyuakyak Lane                 1
Forestry Road                    1
Name: count, dtype: int64

C_DIST
C_DIST
50.0     52
100.0    40
30.0     31
10.0     21
75.0     19
20.0     13
15.0      9
150.0     7
250.0     7
25.0      5
200.0     5
5.0       4
60.0      4
40.0      3
225.0     3
110.0     3
300.0     2
130.0     2
80.0      2
170.0     2
600.0     2
125.0     2
3.5       1
46.0      1
Name: count, dtype: int64

C_UNITS
C_UNITS
M    238
K      2
Name: count, dtype: int64

C_DIR
C_DIR
N    68
E    66
W    56
S    50
Name: count, dtype: int64

C_REF
C_REF
Franklin Avenue                40
51st Avenue                    17
52nd Street                    15
54th Street                    10
49th Avenue                    10
52nd Avenue                     9
Haener Drive                    7
Woolgar Avenue                  7
51st Street                     7
Dagenais Drive                  6
Range Lake Road                 6
Taylor Road                     5
Old Airport Road                5
Borden Drive                    5
Bromley Drive                   5
Con Road                        5
44th Street                     4
Herriman Road                   4
Trails End                      4
Finlayson Drive North           4
Forrest Drive                   4
Finlayson Drive                 4
57th Street                     4
Sikyea Tili                     3
51a Avenue                      3
Lamoureux Road                  3
Coronation Drive                3
49th Street                     3
Byrne Road                      3
Anderson Thompson Boulevard     2
Wilkinson Crescent              2
Driscoll Road                   2
Ward Crescent                   2
Beck Court                      2
Williams Avenue                 2
53rd Street                     2
Matonabee Street                2
Knutsen Court                   2
Weaver Drive                    2
Catalina Drive                  2
45th Street                     2
Otto Drive                      2
Deh Cho Boulevard               2
50th Street                     2
Gitzel Street                   2
Aklavik                         1
Airport Road                    1
Rae Access Road                 1
Name: count, dtype: int64

C_SPEC
C_SPEC
WAL-MART PARKING LOT                     23
IN FRONT QUALITY INN                     12
BISON ESTATES PARKING LOT                10
EXACT LOCATION UNSPECIFIED               10
UNKNOWN LOCATION                          9
                                         ..
NEAR CO-OP STORE                          1
HAY RIVER TERRITORIAL PARK CAMPGROUND     1
IN FRONT HSE #200                         1
NEW LOT NEAR OLD VILLAGE ICE CROSSING     1
IN FRONT #4816                            1
Name: count, Length: 196, dtype: int64

C_ALC
C_ALC
2.0    874
1.0     54
Name: count, dtype: int64

C_ORV
C_ORV
2.0    917
1.0     11
Name: count, dtype: int64